* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: PingFang SC, Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, Microsoft Yahei, \\5FAE\8F6F\96C5\9ED1, STHeiti, \\534E\6587\7EC6\9ED1, sans-serif;
  color: #666;
  font-size: 14px;
  box-sizing: border-box;
}

a {
  font-style: normal;
  text-decoration: none;
  color: #5079d9;
  cursor: pointer;
  transition: all .15s ease-out;
}

a:hover {
  color: #6b95ea;
}

li {
  list-style-type: none;
}

input,
img,
button {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}

i,
em {
  font-style: normal;
}

input[type=number],
textarea {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type="submit"],
input[type="search"],
input[type="reset"] {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #BEBEBE;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #BEBEBE;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #BEBEBE;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #BEBEBE;
}

.w {
  width: 1220px;
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.active {
  color: #c81623;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
  line-height: 0;
  visibility: hidden;
}

input {
  outline: none;
}

.clearfix {
  *zoom: 1;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.del-btn {
  display: block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url(/static/images/account-icon@2x.32d87deb02b3d1c3cc5bcff0c26314ac.png) -50px -60px no-repeat;
  background-size: 240px 107px;
  text-indent: -9999em;
}

.del-btn:hover {
  background-position: -75px -60px;
}

.layout-container {
  min-height: 400px;
  background: #E6E6E6;
}

.gray-box {
  overflow: hidden;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  border-color: rgba(0, 0, 0, 0.14);
  box-shadow: 0 3px 8px -6px rgba(0, 0, 0, 0.1);
}

p {
  margin: 0 !important;
}

@font-face {
  font-family: iconfont;
  src: url("//at.alicdn.com/t/font_2319579_lf1sv53i1e.eot");
  src: url("//at.alicdn.com/t/font_2319579_lf1sv53i1e.eot#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_2319579_lf1sv53i1e.woff2") format("woff2"), url("//at.alicdn.com/t/font_2319579_lf1sv53i1e.woff") format("woff"), url("//at.alicdn.com/t/font_2319579_lf1sv53i1e.ttf") format("truetype"), url("//at.alicdn.com/t/font_2319579_lf1sv53i1e.svg#iconfont") format("svg");
}

.iconfont {
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ff9344;
}

.mask_Warp {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mask_Warp .desc_img {
  width: 300px;
  height: 120px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.mask_Warp .desc_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mask_Warp .paNum {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #f05247;
}

ul {
  margin: 0 !important;
}
