// 主色
$main-col: #ff9344;
// 主色
$main-col_laer: #5784ee;
// 头部
$head-bgc: #1a1a1a;
// 背景色
$bgfff: #fff;
//bg
$head-bg:#409EFF;
// 字体颜色
$cc: #ccc;
$c6: #666;
$c9: #999;
$c3: #333;
$cf: #fff;
$ee: #eee;
//价格色
$jcg: #f05247;
//线条色
$xt: #ebebeb;